.alert--warning {
    --ifm-alert-background-color: var( --ifm-color-danger-contrast-background );
    --ifm-alert-background-color-highlight: rgba(250, 56, 62, 0.15);
    --ifm-alert-foreground-color: var( --ifm-color-danger-contrast-foreground );
    --ifm-alert-border-color: var(--ifm-color-danger-dark);
  }
  
  .alert a {
    color: var(--ifm-color-primary-dark);
    text-decoration-color: var(--ifm-color-primary-dark);
  }
  
  .theme-admonition-note {
    --ifm-code-background: var(--ifm-alert-background-color-highlight);
    --ifm-link-color: var(--ifm-alert-foreground-color);
    --ifm-link-hover-color: var(--ifm-alert-foreground-color);
    --ifm-link-decoration: underline;
    --ifm-tabs-color: var(--ifm-alert-foreground-color);
    --ifm-tabs-color-active: var(--ifm-alert-foreground-color);
    --ifm-tabs-color-active-border: var(--ifm-alert-border-color);
    background-color: var(--ifm-alert-background-color);
    border-color: var(--ifm-alert-border-color);
    border-style: solid;
    border-width: var(--ifm-alert-border-width);
    border-left-width: var(--ifm-alert-border-left-width);
    border-radius: var(--ifm-alert-border-radius);
    box-shadow: var(--ifm-alert-shadow);
    color: var(--ifm-alert-foreground-color);
    padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
    --ifm-alert-background-color: var( --ifm-color-info-contrast-background );
    --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
    --ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );
    --ifm-alert-border-color: var(--ifm-color-info-dark);
  }
  
  .admonition-note a {
    color: var(--ifm-color-primary-dark);
    text-decoration-color: var(--ifm-color-primary-dark);
  }
  
  .admonition-important {
    --ifm-code-background: var(--ifm-alert-background-color-highlight);
    --ifm-link-color: var(--ifm-alert-foreground-color);
    --ifm-link-hover-color: var(--ifm-alert-foreground-color);
    --ifm-link-decoration: underline;
    --ifm-tabs-color: var(--ifm-alert-foreground-color);
    --ifm-tabs-color-active: var(--ifm-alert-foreground-color);
    --ifm-tabs-color-active-border: var(--ifm-alert-border-color);
    background-color: var(--ifm-alert-background-color);
    border-color: var(--ifm-alert-border-color);
    border-style: solid;
    border-width: var(--ifm-alert-border-width);
    border-left-width: var(--ifm-alert-border-left-width);
    border-radius: var(--ifm-alert-border-radius);
    box-shadow: var(--ifm-alert-shadow);
    color: var(--ifm-alert-foreground-color);
    padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
    --ifm-alert-background-color: var( --ifm-color-danger-contrast-background );
    --ifm-alert-background-color-highlight: rgba(250, 56, 62, 0.15);
    --ifm-alert-foreground-color: var( --ifm-color-danger-contrast-foreground );
    --ifm-alert-border-color: var(--ifm-color-danger-dark);
  }
  
  .admonition-important a {
    color: var(--ifm-color-primary-dark);
    text-decoration-color: var(--ifm-color-primary-dark);
  }