@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --doc-sidebar-width: 350px !important;
  --ifm-color-primary: #00959E;
  --ifm-color-primary-dark: #00959E;
  --ifm-color-primary-darker: #00959E;
  --ifm-color-primary-darkest: #007b81;
  --ifm-color-primary-light: #6DD2D2;
  --ifm-color-primary-lighter: #97e2e2;
  --ifm-color-primary-lightest: rgb(146, 221, 224);
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Open Sans';
  --ifm-heading-font-family: 'Poppins', sans-serif;
  --ifm-heading-font-weight: 600;
  /*this variable controls the background when govering over items in the sidebar*/
  --ifm-menu-color-background-hover: transparent;
  /*this variable controls the padding between items in the sidebar*/
  --ifm-menu-link-padding-vertical: 0.5rem;
}

html[data-theme='light'] {
    --ifm-heading-color: #2f2f2f;
}

html[data-theme='dark'] {
    --ifm-color-primary: #6DD2D2;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

article {
  /* max-width: 800px; */
  margin: 10px 25px;
}

.footer--dark {
    --ifm-footer-background-color: #2f2f2f;
}

.alert--warning {
  --ifm-alert-background-color: var( --ifm-color-danger-contrast-background );
  --ifm-alert-background-color-highlight: rgba(250, 56, 62, 0.15);
  --ifm-alert-foreground-color: var( --ifm-color-danger-contrast-foreground );
  --ifm-alert-border-color: var(--ifm-color-danger-dark);
}

.alert a {
  color: var(--ifm-color-primary-dark);
  text-decoration-color: var(--ifm-color-primary-dark);
}

.theme-admonition-note {
  --ifm-code-background: var(--ifm-alert-background-color-highlight);
  --ifm-link-color: var(--ifm-alert-foreground-color);
  --ifm-link-hover-color: var(--ifm-alert-foreground-color);
  --ifm-link-decoration: underline;
  --ifm-tabs-color: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active-border: var(--ifm-alert-border-color);
  background-color: var(--ifm-alert-background-color);
  border-color: var(--ifm-alert-border-color);
  border-style: solid;
  border-width: var(--ifm-alert-border-width);
  border-left-width: var(--ifm-alert-border-left-width);
  border-radius: var(--ifm-alert-border-radius);
  box-shadow: var(--ifm-alert-shadow);
  color: var(--ifm-alert-foreground-color);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  --ifm-alert-background-color: var( --ifm-color-info-contrast-background );
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );
  --ifm-alert-border-color: var(--ifm-color-info-dark);
}

.admonition-note a {
  color: var(--ifm-color-primary-dark);
  text-decoration-color: var(--ifm-color-primary-dark);
}

.admonition-important {
  --ifm-code-background: var(--ifm-alert-background-color-highlight);
  --ifm-link-color: var(--ifm-alert-foreground-color);
  --ifm-link-hover-color: var(--ifm-alert-foreground-color);
  --ifm-link-decoration: underline;
  --ifm-tabs-color: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active-border: var(--ifm-alert-border-color);
  background-color: var(--ifm-alert-background-color);
  border-color: var(--ifm-alert-border-color);
  border-style: solid;
  border-width: var(--ifm-alert-border-width);
  border-left-width: var(--ifm-alert-border-left-width);
  border-radius: var(--ifm-alert-border-radius);
  box-shadow: var(--ifm-alert-shadow);
  color: var(--ifm-alert-foreground-color);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  --ifm-alert-background-color: var( --ifm-color-danger-contrast-background );
  --ifm-alert-background-color-highlight: rgba(250, 56, 62, 0.15);
  --ifm-alert-foreground-color: var( --ifm-color-danger-contrast-foreground );
  --ifm-alert-border-color: var(--ifm-color-danger-dark);
}

.admonition-important a {
  color: var(--ifm-color-primary-dark);
  text-decoration-color: var(--ifm-color-primary-dark);
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman
}

.DocSearch-Logo {
  display: none;
}

.DocSearch-Footer  {
  justify-content: center !important;
}

/* Landing page */

.tile__container {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}

.tile__container > ul {
  padding: 1.5em;
  list-style: none;
  border-radius: 7px;
  border: 1px solid rgba(88,88,88,0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tile__container > ul:hover {
  background-image: linear-gradient(to bottom right, rgba(88,88,88,0.03), rgba(88,88,88,0.01));
}

[data-theme='dark'] .tile__container > ul:hover {
  background-image: linear-gradient(to bottom right, rgba(88,88,88,0.08), rgba(88,88,88,0.02));
}

.tile__container ul li h3 {
  padding-top: 15px;
}

.tile__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.0em;
  font-size: 1.25em;
}

.tile__header img {
  max-width: 55px;
  height: 55px;
  background-color:rgba(255,72,86,0.1);
  border-radius: 7px;
}

@media (max-width: 1300px) {
  .tile__container {
    flex-direction: column;
  }
}

#helm {
  background-color:rgba(15, 22, 137,0.05);
}

[data-theme='dark'] #helm {
  background-color:rgb(169, 169, 198);
}

#whats-new,
[data-theme='dark'] #whats-new:hover {
  background-image: linear-gradient(to bottom right, rgba(69,145,247,0.1), rgba(69,145,247,0.025));
  border: 1px solid rgba(69,145,247,0.1);
}

#whats-new:hover,
[data-theme='dark'] #whats-new {
  background-image: linear-gradient(to bottom right, rgba(69,145,247,0.2), rgba(69,145,247,0.05));
}

#whats-new .tile__header img {
  background-color: rgba(69,145,247,0.2);
}

[data-theme='dark'] #whats-new .tile__header img {
  content:url("/images/icons/chat_bubble_white.png");
}

#whats-new li a {
  color: rgb(69,145,247);
}

#did-you-know,
[data-theme='dark'] #did-you-know:hover {
  background-image: linear-gradient(to bottom right, rgba(21, 140, 54,0.1), rgba(21, 140, 54,0.025));
  border: 1px solid rgba(21, 140, 54,0.1);
}

#did-you-know:hover,
[data-theme='dark'] #did-you-know {
  background-image: linear-gradient(to bottom right, rgba(21, 140, 54,0.2), rgba(21, 140, 54,0.05));
}

#did-you-know .tile__header img {
  background-color: rgba(21, 140, 54,0.2);
}

[data-theme='dark'] #did-you-know .tile__header img {
  content:url("/images/icons/lightbulb_white.png");
}

#did-you-know li a {
  color: rgb(21, 140, 54);
}

/* Sidebar */

.menu__list-item > h5 {
  text-transform: uppercase;
  margin: 1rem 0;
}

.theme-doc-sidebar-menu.menu__list {
  margin-bottom: 75px;
}

a.menu__link {
  font-size: .9em;
}

.menu__list-item > a:hover, .menu__list-item-collapsible > a:hover {
  color: var(--ifm-color-primary);
}

/* Navbar */

.dropdown__link:hover {
  background-color: transparent;
  color: var(--ifm-dropdown-link-color);
  text-decoration: none;
}

.dropdown__link--active {
  background-color: transparent;
  color: #2f2f2f;
}

html[data-theme='dark'] .dropdown__link--active {
  color: white;
}

html[data-theme='dark'] .dropdown__link:hover {
  color: var(--ifm-dropdown-link-color);
  text-decoration: none;
}

.dropdown > .navbar__link:after {
  content: '';
  border: none;
  position: static;
  top: auto;
  transform: none;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.293 8.293a1 1 0 0 1 1.414 0L12 14.586l6.293-6.293a1 1 0 1 1 1.414 1.414l-7 7a1 1 0 0 1-1.414 0l-7-7a1 1 0 0 1 0-1.414Z' fill='%23888888'/%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
}

html[data-theme='dark'] .dropdown > .navbar__link:after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.293 8.293a1 1 0 0 1 1.414 0L12 14.586l6.293-6.293a1 1 0 1 1 1.414 1.414l-7 7a1 1 0 0 1-1.414 0l-7-7a1 1 0 0 1 0-1.414Z' fill='%23ffffff'/%3E%3C/svg%3E");
}

/* Release Note label styling */

h3[id^="new-features"] {
  background-color: #4BC99C;
  border-radius: 7px!important;
  color: #fff;
  width: max-content;
  padding: 0.2em 0.6em 0.2em;
  font-weight: 500;
  font-size: 20px;
}

h3[id^="improvements"] {
  background-color: #38C1CA;
  border-radius: 7px!important;
  color: #fff;
  width: max-content;
  padding: 0.2em 0.6em 0.2em;
  font-weight: 500;
  font-size: 20px;
}

h3[id^="bug-fixes"] {
  background-color: #F47878;
  border-radius: 7px!important;
  color: #fff;
  width: max-content;
  padding: 0.2em 0.6em 0.2em;
  font-weight: 500;
  font-size: 20px;
}

h3[id^="breaking-changes"] {
  background-color: #E65DAD;
  /* background-color: #D64399; */
  border-radius: 7px!important;
  color: #fff;
  width: max-content;
  padding: 0.2em 0.6em 0.2em;
  font-weight: 500;
  font-size: 20px;
}


h3[id^="known-issues"] {
  background-color: #414288;
  /* background-color: #D64399; */
  border-radius: 7px!important;
  color: #fff;
  width: max-content;
  padding: 0.2em 0.6em 0.2em;
  font-weight: 500;
  font-size: 20px;
}

h3[id^="new-features"] a {
  color: #fff;
  opacity: .5;
  text-decoration: none;
}

h3[id^="improvements"] a {
  color: #fff;
  opacity: .5;
  text-decoration: none;
}

h3[id^="bug-fixes"] a {
  color: #fff;
  opacity: .5;
  text-decoration: none;
}

h3[id^="breaking-changes"] a {
  color: #fff;
  opacity: .5;
  text-decoration: none;
}

h3[id^="known-issues"] a {
  color: #fff;
  opacity: .5;
  text-decoration: none;
}