/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Import component-specific stylesheets */
@import './admonitions.css';
@import './content.css';
@import './footer.css';
@import './homepage.css'; 
@import './navbar.css';
@import './release-notes.css';
@import './sidebar.css';


/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* You can override the default Infima variables here. */
:root {
  --doc-sidebar-width: 350px !important;
  --ifm-color-primary: var(--replicated-red);
  /* 10% darker */
  --ifm-color-primary-dark: #e6414d;
  /* 20% darker */
  --ifm-color-primary-darker: #cc3a45;
  /* 30% darker */
  --ifm-color-primary-darkest: #b3323c;
  /* 10% lighter */
  --ifm-color-primary-light: #ff5a67;
  /* 20% lighter */ 
  --ifm-color-primary-lighter: #ff6d78;
  /* 30% lighter */
  --ifm-color-primary-lightest: #ff7f89;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Open Sans';
  --ifm-heading-font-family: 'Poppins', sans-serif;
  --ifm-heading-font-weight: 600;
  /*controls the padding between items in the sidebar*/
  --ifm-menu-link-padding-vertical: 0.5rem;

  /* primary replicated colors */
  --replicated-red: #ff4856;
  --cyber-mint: #51e9f0;
  --nebula-purple: #6977fb;
  --graphite-gray: #585858;
  --slate-noir: #161616;

  /* secondary replicated colors */
  --pixel-pink: #fe678c;
  --neon-violet: #a45dfd;
  --digital-blue: #4591f7;
  --blue-nova: #306de5;
  --leaf-byte: #37cc97;
  --canary-beam: #ffed58;
  --solar-flare: #ff934e;
}