.DocSearch-Logo {
    display: none;
}

.DocSearch-Footer  {
    justify-content: center !important;
}

.dropdown__link:hover, .navbar__link {
    background-color: transparent;
    color: var(--ifm-dropdown-link-color);
    text-decoration: none;
}

.dropdown__link--active, .navbar__link--active {
    background-color: transparent;
    color: #2f2f2f;
}

.dropdown > .navbar__link:after {
    content: '';
    border: none;
    position: static;
    top: auto;
    transform: none;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.293 8.293a1 1 0 0 1 1.414 0L12 14.586l6.293-6.293a1 1 0 1 1 1.414 1.414l-7 7a1 1 0 0 1-1.414 0l-7-7a1 1 0 0 1 0-1.414Z' fill='%23888888'/%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
}

html[data-theme='dark'] .dropdown > .navbar__link:after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.293 8.293a1 1 0 0 1 1.414 0L12 14.586l6.293-6.293a1 1 0 1 1 1.414 1.414l-7 7a1 1 0 0 1-1.414 0l-7-7a1 1 0 0 1 0-1.414Z' fill='%23ffffff'/%3E%3C/svg%3E");
}