.menu__list-item > h5 {
    /* text-transform: uppercase; */
    margin: 1rem 0 0 0;
  }
  
  .theme-doc-sidebar-menu.menu__list {
    margin-bottom: 75px;
  }
  
  a.menu__link {
    font-size: .9em;
  }
  
  .menu__list-item > a:hover, 
  .menu__list-item-collapsible > a:hover, 
  .menu__link--active {
    color: var(--slate-noir);
  }