.cardContainer {
  --ifm-link-hover-decoration: none;

  padding: 30px;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 8px;
  transition: all 0.2s ease;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.cardContainer:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 24px #5858581A;
  text-decoration: none;
  color: inherit;
}

.cardTitle {
  font-size: 1rem;
  font-weight: var(--ifm-heading-font-weight);
  margin: 0 0 12px 0;
}

.cardDescription {
  font-size: 1rem;
  margin: 0;
  opacity: 0.8;
}

