name: Algolia Crawler

concurrency: algolia-crawl

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  trigger_crawl:
    name: Trigger Algolia Crawl
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Algolia Crawler
        run: |
          curl -X POST \
            'https://crawler.algolia.com/api/1/crawlers/${{ secrets.CRAWLER_ID }}/reindex' \
            -H 'Content-Type: application/json' \
            --user '${{ secrets.CRAWLER_USER_ID }}:${{ secrets.CRAWLER_API_KEY }}'